.section-additional {

  display: flex;
  flex-direction: column;
  padding-top: 16px;
  color: $color-text;

  &__info {

    margin: 0;
    margin-bottom: 16px;
    max-width: 422px;
    font-size: $font-size--text;
    line-height: $line-height--m;
    letter-spacing: $letter-spacing--text;
  }

  &__offer {

    margin-bottom: 24px;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;

    &::after {

      content: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.1625 9.60411C0.838186 9.97957 0.838186 10.536 1.1625 10.9115L1.29432 11.0641C1.69317 11.5258 2.40899 11.5258 2.80785 11.0641L6.8372 6.39937C7.16152 6.02392 7.16152 5.46745 6.8372 5.092L2.80785 0.427277C2.40899 -0.0344715 1.69317 -0.0344715 1.29432 0.427278L1.1625 0.57988C0.838185 0.955333 0.838186 1.5118 1.1625 1.88726L4.49539 5.74569L1.1625 9.60411Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A");
      position: absolute;
      transform: translateX(8px) translateY(2px);
    }

    &:hover {

      opacity: 0.6;
    }
  }
}
