$color-icons: #FF3E79;
$color-highlight: #41F6D7;
$color-highlight--lighter: #B8FFEC;
$color-background: #F8F8F8;
$color-callback: #B5B6BC;

$color-text: #1B1C21;
$color-text--lighter: #7E7E82;
$color-white: #FFFFFF;

$color-pagination: #DDDDDD;
$color-pagination--active: #B5B6BC;

$shadow-sidebar: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
                -2px 0 4px 0 rgba(69, 79, 126, 0.02);

$shadow-feedback: -2px 0px 4px rgba(69, 79, 126, 0.02),
                16px 0px 52px rgba(14, 24, 80, 0.2);

$font-size: 16px;
$font-size--xl: 28px;
$font-size--l: 24px;
$font-size--text: 14px;

$line-height: 24px;
$line-height--xl: 40px;
$line-height--l: 32px;
$line-height--m: 20px;
$line-height--s: 18px;
$line-height--xs: 16px;

$letter-spacing: -0.2px;
$letter-spacing--xl: -0.6px;
$letter-spacing--text: 0.2px;

$font-family: 'TT Lakes', sans-serif;

$screen-s: 320px;
$screen-m: 768px;
$screen-l: 1366px;
